<div id="container-keXuanBao">
  <div class="weui-loadmore weui-loadmore_line">
    <span class="weui-loadmore__tips">暂无数据</span>
  </div>
</div>
<script type="text/html" id="art-keXuanBao">
  <label class="form-group">
    <div class="icon-label"><i class="iconfont icon-liebiao"></i>
    </div>
    <div class="wrapper">
      <input class="form-control" placeholder="可选包/请输入查询条件" type="text" name="keyword" onkeyup="KeXuanBao.filterInResult(this)" />
      <div class="other"><i class="iconfont icon-shaixuan color-orange" style="font-size:1.2rem;"></i>
      </div>
    </div>
  </label>
  <div class="sub-area" id="keXuanBao-options" style="margin-top:1px;">
    {{if list.length > 0}} {{ each list }}
    <label>
      {{if $value.configOptions.length > 0}}
      <div class="form-group" data-id="{{$value.id}}" data-config-options="{{$value.configOptions | toString}}">
        {{else}}
        <div class="form-group" data-id="{{$value.id}}">
          {{/if}}
          <div class="icon-label"><i class="iconfont icon-shoucangxuanzhong"></i>
          </div>
          <div class="wrapper">
            <div class="input-label">{{$value.title}}</div>
            <div class="other">
              <input type="checkbox" name="bao" value="{{$value.id}}" onChange="KeXuanBao.toggleSelect(this,$(this).val())">
              <i class="iconfont icon-square_check"></i>
            </div>
          </div>
        </div>
    </label>
    {{/each}} {{else}} 无可选包 {{/if}}
    </div>
    <div class="form-group">
      <div class="icon-label"><i class="iconfont icon-liebiao"></i>
      </div>
      <div class="wrapper">
        <div class="input-label">已选择</div>
        <div class="other">
        </div>
      </div>
    </div>
    <div class="sub-area" id="container-keXuanBao-selected" style="margin-top:1px;">

    </div>
  </div>
</script>
<script>
  var KeXuanBao = function() {
    var $container = $('#container-keXuanBao');
    var $pie = $container.closest('[data-role="pie"]');
    template.helper('toString', function(value) {
      return JSON.stringify(value);
    });
    /**
     * 空闲控制 前后2个action间隔必须大于delay值，否则不会执行下一个action
     * @param delay  {number}    延迟时间，单位毫秒
     * @param action {function}  请求关联函数，实际应用需要调用的函数
     * @return {function}    返回客户调用函数
     * 用法 var lazyLoad = throttle(load,1000)
     */
    var last = 0;
    var throttle = function(action, delay) {
      return function() {
        var curr = +new Date();
        if (curr - last > delay) {
          action.apply(this, arguments)
        };
        last = curr;
      };
    };
    var _filterInResult = function(el) {
      var keyword = $(el).val();
      var re = new RegExp(keyword.trim(), "im");
      $('#keXuanBao-options').find('.input-label').each(function() {
        var $formGroup = $(this).closest('.form-group');
        if (!re.test($(this).html())) {
          $formGroup.hide();
        } else {
          $formGroup.show();
        }
      })
    };
    return {
      init: function() {
        App.template({
          url: App.urls.networkAdd.keXuanBao,
          art: 'art-keXuanBao',
          container: 'container-keXuanBao',
          data: {},
          cb: function() {},
          fail: function() {
            $('.tab-pane.active').html('<div class="weui-loadmore weui-loadmore_line"><span class="weui-loadmore__tips"><a href="javascript:;" onclick="NetworkAdd.refresh(3)">请求失败，点击刷新</a></span></div>')
          }
        })
      },
      /**
       * 说明：
       * 点击checkbox
       * 选中
       *     生成该'.form-group'副本，
       *     把副本中的other区域的checkbox替换成icon-close
       *     如果该项包含configOptions则对副本添加一个button（参）
       *     最后，把副本塞入选中区域'#container-keXuanBao-selected'
       * 取消选中
       *     从'#container-keXuanBao-selected'中删除对应.form-group
       *     同时把options区域对应的checkbox重置成false
       * 替换
       * @param  {[type]} el [description]
       * @return {[type]}    [description]
       */
      toggleSelect: function(el, value) {
        var checked = $(el).is(":checked");
        var tmpl = ['<div class="form-group"> <div class="icon-label"><i class="iconfont icon-close"></i> </div> <div class="wrapper"> ', '</div> </div>']
        if (checked) {
          var instance = $(el).closest('.form-group').clone();
          //把副本中的checkbox替换成关闭图标
          instance.find('.other').html('<i class="iconfont icon-close" onClick="KeXuanBao.deleteIt(this)"></i>');
          //如果需要配置，则显示button(参)
          if (instance.data('configOptions') != undefined) {
            instance.find('.icon-label').html('<div class="circle-button pointer" onClick="KeXuanBao.showModal(this)">参</div>')
          } else {
            instance.find('.icon-label').html('');
          }
          $('#container-keXuanBao-selected').append(instance);
        } else {
          $('#container-keXuanBao-selected').find('.form-group[data-id="' + value + '"]').remove();
        }
      },
      deleteIt: function(el) {
        var $item = $(el).closest('.form-group');
        $('#keXuanBao-options').find('.form-group[data-id="' + $item.data('id') + '"]').find('input[type="checkbox"]').prop('checked', false);
        $item.remove();
      },
      showModal: function(el) {
        App.modal({
          url: App.modules.networkAdd.keXuanBaoConfig,
          data: {
            target: '#container-keXuanBao-selected .form-group[data-id="' + $(el).closest('.form-group').attr('data-id') + '"]',
            configOptions: $(el).closest('.form-group').data('configOptions')
          }
        })
      },
      filterInResult: throttle(_filterInResult, 200),
    }
  }()
  KeXuanBao.init();
  //# sourceURL=keXuanBao.html
</script>
