@charset "UTF-8";
body {
    font-family: 微软雅黑, 'Microsoft YaHei';
    color: #4c4c4c;
    background-color: #f6f6f6;
    font-size: .8rem;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, span, object, iframe {
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
}
ol, ul {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}
q:before, q:after {
    content: ”;
}
.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
.clearfix {
    display: block;
    zoom: 1
}
* {
    box-sizing: border-box;
}
a{color: #586c94;}
/* --------- 清除chrome下的高亮 --------- */

input, button, select, textarea {
    outline: none;
    font-family: 微软雅黑, 'Microsoft YaHei';
}
/* --------- 清除手机端点击 出现蓝色背景  --------- */

label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* --------- 重置chrome下input自动填充时的黄色背景  --------- */

input:-webkit-autofill {
    background-color: #fff;
}
/********************************** 
* 重置WEUI
 *********************************/

.weui-btn.disabled, .weui-btn[disabled] {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
}
.weui-btn {
    border-right: 5px!important;
    height: 2rem!important;
    line-height: 2rem!important;
}
.weui-btn_info{background-color: #16a4fa;}
.weui-btn_mini {
    height: 1.6rem!important;
    line-height: 1.6rem!important;
}
.weui-btn_plain-primary {
    border: 1px solid #05a642!important;
    color: #05a642;
}
.weui-btn_primary {
    background-color: #05a642;
}
.weui-loadmore_line .weui-loadmore__tips {
    background-color: #f6f6f6;
}
/*( 让搜索条更高一点 )*/

.weui-search-bar__box .weui-search-bar__input {}
/*( picker 选中项目 背景高亮 )*/

.weui-picker-modal .picker-center-highlight {
    background-color: #d1d1d1;
    opacity: .5;
}
/********************************** 
* 扩展WEUI
 *********************************/
/* --------- input placeholder color --------- */

::-webkit-input-placeholder {
    color: #4c4c4c;
}
:-moz-placeholder {
    color: #4c4c4c;
}
::-moz-placeholder {
    color: #4c4c4c;
}
:-ms-input-placeholder {
    color: #4c4c4c;
}
label {
    cursor: pointer;
    position: relative;
}
input, textarea {
    box-sizing: border-box;
    border: none;
    background: #fff;
    border-radius: 0;
    box-shadow: none;
    display: block;
    margin: 0;
    outline: 0;
    width: 100%;
    height: 2.5rem;
    color: #4c4c4c;
    font-size: .8rem;
}
.icon-close:hover {
    opacity: 0.6;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.text-middle {
    vertical-align: middle;
}
.color-orange {
    color: #fe7e19!important;
}
.color-grey {
    color: #d1d1d1!important;
}
.color-green {
    color: #05a642;
}
.margin-top-0 {
    margin-top: 0!important;
}
.border-bottom {
    border-bottom: 1px solid #d1d1d1;
}
.no-border {
    border: none!important;
}
.circle-button {
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    display: inline-block;
    border-radius: 1.3rem;
    background-color: #05a642;
    color: #fff;
}
.padding-z {
    padding: 10px 0;
}
.padding-h {
    padding: 0 10px;
}
.padding-10 {
    padding: 10px;
}
.padding-left-10 {
    padding-left: 10px;
}
.padding-top-10 {
    padding-top: 10px;
}
.page-part {
    margin-top: 10px;
}
.pointer:hover {
    cursor: pointer;
    opacity: .6;
}
.hide {
    display: none;
}
/* --------- 基础动画 --------- */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/* --------- loading效果 --------- */
/* --------- 
loader z-index:3000; 
toastr z-index:2000; 
picker z-index:1000; 
toptip z-index:100;
modal  z-index:9; 激活的是99
--------- */

#loader {
    height: 60px;
    position: absolute;
    width: 60px;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    z-index: 3000;
    text-align: center;
}
@-webkit-keyframes ball-scale-multiple {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes ball-scale-multiple {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
.ball-scale-multiple {
    position: relative;
}
.ball-scale-multiple > div:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.ball-scale-multiple > div:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.ball-scale-multiple > div {
    background-color: #05a642;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
    animation: ball-scale-multiple 1s 0s linear infinite;
}
/********************************** 
* layout
* .es-navbar
* .es-action-bar
* .es-content
 *********************************/

.es-navbar {
    top: 0;
    position: absolute;
}
.es-navbar.es-tabs {
    height: 3rem;
}
.es-navbar.es-tabs li>a {
    height: 3rem;
    line-height: 3rem;
}
.es-navbar ~ .es-content {
    top: 3rem;
}
.es-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 1rem;
    -webkit-overflow-scrolling: touch;
}
/* --------- es-action-bar --------- */

.es-action-bar ~ .es-content {
    bottom: 2.5rem;
}
.es-action-bar {
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: 0.25rem 10px;
    position: absolute;
    display: flex;
    display: -webkit-box;
    border-top: 1px solid #d1d1d1;
}
.es-action-bar .weui-btn {
    flex: 1;
    -webkit-box-flex: 1;
    margin: 0 5px;
}
.es-action-bar .weui-btn + .weui-btn {
    margin-top: 0;
}
/********************************** 
* common components
 *********************************/
/* --------- 
tab 
.es-tabs有2中主题
(ul.es-tabs.primary>li.active>a[href="#tab1"][data-toggle="tab"])+div.tab-pane.active#tab1
(ul.es-tabs.line>li.active>a[href="#tab1"][data-toggle="tab"])+div.tab-pane.active#tab1
可以与.es-navbar结合
--------- */

.es-tabs {
    display: flex;
    display: -webkit-box;
    width: 100%;
    height: 2.5rem;
    padding: 0;
}
.es-tabs li {
    flex: 1;
    -webkit-box-flex: 1;
}
.es-tabs li>a {
    height: 2.5rem;
    line-height: 2.5rem;
    color: #fff;
    opacity: 0.5;
    text-align: center;
    display: block;
}
.es-tabs li a .tab-label {
    line-height: .7rem;
    font-size: .7rem;
}
.es-tabs li a .tab-icon {
    line-height: 1.8rem;
}
.es-tabs li.active a {
    opacity: 1;
}
.tab-pane {
    display: none;
}
.tab-pane.active {
    display: block;
}
/*( 继承es-tabs 扩展绿色背景 )*/

.es-tabs.primary {
    background-color: #05a642;
}
/*( 继承es-tabs 扩展绿色背景 )*/

.es-tabs.line {
    background-color: #fff;
}
.es-tabs.line li>a {
    color: #4c4c4c;
    position: relative;
}
.es-tabs.line li.active a:after {
    height: 2px;
    background-color: #05a642;
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* --------- .input-group--------- */
.input-group {
    display: flex;
    display: -webkit-box;
    border: 1px solid #ccd0d4;
}
.input-group .weui-btn, .input-group .form-control {
    flex: 1;
    -webkit-box-flex: 1;
    border-radius: 0!important;
    height: 1.6rem!important;
    line-height: 1.6rem!important;
}
.input-group .form-control {
    border: 1px solid #ccd0d4;
    border-width: 0 1px;
    text-indent: 10px;
}
.input-group .weui-btn:after {
    border: 0!important;
}

/* --------- form-group --------- */

.form-group {
    min-height: 2.5rem;
    position: relative;
    background-color: #fff;
    display: block;
}
.form-group .icon-label {
    width: 2rem;
    left: 10px;
    top: 0;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #d1d1d1;
    position: absolute;
    z-index: 2;
}
.form-group .wrapper {
    right: 0;
    top: 0;
    left: 0;
    position: absolute;
}
.icon-label ~ .wrapper {
    padding-left: 2.2rem;
}
.form-group .wrapper .other {
    position: absolute;
    top: 0;
    height: 2.5rem;
    right: 10px;
    line-height: 2.5rem;
    color: #d1d1d1;
}
.form-group .wrapper .other .iconfont {
    font-size: 1rem;
}
.form-group + .form-group {
    margin-top: 1px;
}
.form-group .input-label {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    padding-right: 2.2rem;
    line-height: 2.5rem;
}
.form-group .input-label > p{ 
text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;   
    line-height: 1.2em;
    margin: 5px 0;
}
.form-group .input-label > small{    
    line-height: 1em;
    color: #d1d1d1;
    display: block;
}
.form-group input[type="checkbox"], .form-group input[type="radio"] {
    position: absolute;
    left: -99999em;
}
.form-group input[type="radio"]:checked + .icon-danxuanweixuanzhong:before {
    content: "\e668";
    color: #fe7e19;
}
.form-group input[type="checkbox"]:checked + .icon-square_check:before {
    content: "\e628";
    color: #fe7e19;
}
.form-group.has-error input, .form-group.has-error .input-label {
    color: red;
}
.form-group.has-error input::-webkit-input-placeholder {
    color: red;
}
.form-group.has-error input:-moz-placeholder {
    color: red;
}
.form-group.has-error input::-moz-placeholder {
    color: red;
}
.form-group.has-error input:-ms-input-placeholder {
    color: red;
}
/*( 针对picker，让Input元素覆盖在label之上，为了是能触发picker插件 )*/

.form-control.transparent {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.sub-area {
    margin-bottom: 10px;
}
.sub-area .form-group {
    border: none;
    margin-top: 0;
}
.sub-area .form-group .icon-close {
    font-size: 1rem;
}
.sub-area .form-group .input-label {
    border-top: 1px solid #f6f6f6;
}
.sub-area .form-group:first-child .input-label {
    border-top: 0;
}
.tips-block {
    padding: 0.5rem 10px 0.5rem 2.2rem;
    font-size: 80%;
    background-color: #eee;
}
/* --------- .spinbox--------- */

.spinbox {
    display: flex;
    display: -webkit-box;
    border: 1px solid #ccd0d4;
}
.spinbox * {
    height: 2rem!important;
    line-height: 2rem!important;
}
.spinbox .weui-btn, .spinbox .spinbox-input {
    flex: 1;
    -webkit-box-flex: 1;
    border-radius: 0!important;
}
.spinbox .spinbox-input {
    border: 1px solid #ccd0d4;
    border-width: 0 1px;
    text-align: center;
}
.spinbox .weui-btn:after {
    border: 0!important;
}
/* --------- 滚动刷新 --------- */

.noContent {
    margin: 1.5em auto;
    line-height: 1.6rem;
    font-size: 14px;
    text-align: center;
}
/* --------- 重置picker --------- */

.weui-picker-modal.weui-picker-modal-visible {
    background-color: #fff;
}
/* --------- modal --------- */

.fullScreen {
    width: 100%;
    height: 100%;
}
.modal {
    background-color: #f6f6f6;
}
.modal-header {
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #05a642;
    color: #fff;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.modal-search-bar {
    height: 2.5rem;
    position: fixed;
    top: 2.5rem;
    left: 0;
    right: 0;
}
.modal-search-bar ~ .modal-body {
    top: 4.7rem;
}
.modal-body {
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 2.5rem;
}
.modal-footer {
    bottom: 0;
    height: 2.5rem;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    display: -webkit-box;
    padding: 0.25rem 10px;
}
.modal-footer .weui-btn {
    flex: 1;
    -webkit-box-flex: 1;
    margin: 0 5px;
}
.modal-footer ~ .modal-body {
    bottom: 2.5rem;
}
.modal-header .icon-close {
    font-size: 1rem;
}
/********************************** 
* 业务相关的
 *********************************/
/* --------- 上传身份证 --------- */

.operator-box {
    background-color: #fff;
    padding: 10px;
}
.card-camera {
    width: 100%!important;
    display: inline-block;
    margin-bottom: 0.22rem;
    border: 1px solid #dedede;
    /*margin: 0.15rem 0.1rem 0.15rem 0.15rem;*/
}
.card-camera .card-box {
    width: 100%;
    line-height: 4rem;
    text-align: center;
    position: relative;
}
.card-camera .card-box .iconfont {
    color: #05a642;
}
.card-camera > p {
    text-align: center;
    margin: 0;
    background: #f1f1f1;
    line-height: 2;
}
/* --------- for 号码查询 卡片效果 --------- */

.grid li {
    float: left;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    width: 49%;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 10px;
}
.grid li:nth-child(even) {
    margin-left: 2%;
}
/********************************** 
* iconfont
 *********************************/

@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot?t=1489388822608');
    /* IE9*/
    
    src: url('../fonts/iconfont.eot?t=1489388822608#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('../fonts/iconfont.woff?t=1489388822608') format('woff'),
    /* chrome, firefox */
    
    url('../fonts/iconfont.ttf?t=1489388822608') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    
    url('../fonts/iconfont.svg?t=1489388822608#iconfont') format('svg');
    /* iOS 4.1- */
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 1.2rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-liebiao:before {
    content: "\e66c";
}
.icon-jiantouyou:before {
    content: "\e66e";
}
.icon-check:before {
    content: "\e61e";
}
.icon-close:before {
    content: "\e624";
}
.icon-roundcheck:before {
    content: "\e611";
}
.icon-roundclosefill:before {
    content: "\e605";
}
.icon-roundclose:before {
    content: "\e606";
}
.icon-timefill:before {
    content: "\e625";
}
.icon-time:before {
    content: "\e626";
}
.icon-zhanghu:before {
    content: "\e68c";
}
.icon-camerafill:before {
    content: "\e61b";
}
.icon-camera:before {
    content: "\e61c";
}
.icon-squarecheckfill:before {
    content: "\e627";
}
.icon-squarecheck:before {
    content: "\e628";
}
.icon-roundaddfill:before {
    content: "\e629";
}
.icon-roundadd:before {
    content: "\e62a";
}
.icon-erweima1:before {
    content: "\e67e";
}
.icon-fenping:before {
    content: "\e678";
}
.icon-iconfontlock:before {
    content: "\e66a";
}
.icon-shoucangxuanzhong:before {
    content: "\e62b";
}
.icon-shoucang:before {
    content: "\e62c";
}
.icon-jiahao:before {
    content: "\e670";
}
.icon-bianji:before {
    content: "\e656";
}
.icon-tiaoxingma:before {
    content: "\e67f";
}
.icon-mima:before {
    content: "\e682";
}
.icon-chaxun:before {
    content: "\e647";
}
.icon-banlirenwu:before {
    content: "\e68d";
}
.icon-chahuafeitianchong:before {
    content: "\e63a";
}
.icon-untitled68:before {
    content: "\e602";
}
.icon-untitled69:before {
    content: "\e603";
}
.icon-beizhu:before {
    content: "\e680";
}
.icon-hezuo-copy:before {
    content: "\e681";
}
.icon-charge:before {
    content: "\e686";
}
.icon-leixing:before {
    content: "\e683";
}
.icon-shaixuan:before {
    content: "\e67c";
}
.icon-wenhaofill:before {
    content: "\e62d";
}
.icon-wenhao:before {
    content: "\e62e";
}
.icon-gouwuchefill:before {
    content: "\e61f";
}
.icon-gouwuche:before {
    content: "\e621";
}
.icon-dibu:before {
    content: "\e62f";
}
.icon-dingbu:before {
    content: "\e630";
}
.icon-xiangshang1:before {
    content: "\e631";
}
.icon-xiangxia1:before {
    content: "\e632";
}
.icon-xiangyou1:before {
    content: "\e633";
}
.icon-xiangzuo1:before {
    content: "\e634";
}
.icon-icon00098:before {
    content: "\e652";
}
.icon-crm39:before {
    content: "\e68e";
}
.icon-tongji:before {
    content: "\e604";
}
.icon-dizhi:before {
    content: "\e6a7";
}
.icon-bk-user:before {
    content: "\e689";
}
.icon-lianxidianhua1:before {
    content: "\e67d";
}
.icon-shoujihaoma:before {
    content: "\e684";
}
.icon-lanya:before {
    content: "\e653";
}
.icon-xuanze:before {
    content: "\e6c9";
}
.icon-shijianxuanze:before {
    content: "\e688";
}
.icon-yinxingqiabangding:before {
    content: "\e68a";
}
.icon-yanse:before {
    content: "\e66b";
}
.icon-shenfenzhenghao:before {
    content: "\e685";
}
.icon-haoqia:before {
    content: "\e608";
}
.icon-tongjixianxing:before {
    content: "\e601";
}
.icon-yichu:before {
    content: "\e6b3";
}
.icon-Radio:before {
    content: "\e668";
}
.icon-tianyigaoqing:before {
    content: "\e607";
}
.icon-jinggao:before {
    content: "\e60c";
}
.icon-jinggaoxianxing:before {
    content: "\e60b";
}
.icon-zhuye:before {
    content: "\e60d";
}
.icon-zhuyexianxing:before {
    content: "\e60e";
}
.icon-wodexianxing:before {
    content: "\e60f";
}
.icon-wode:before {
    content: "\e60a";
}
.icon-tianyigaoqingxianxing1:before {
    content: "\e613";
}
.icon-kuandaixianxing:before {
    content: "\e600";
}
.icon-kuandai:before {
    content: "\e614";
}
.icon-zhengjian:before {
    content: "\e615";
}
.icon-zhengjianxianxing:before {
    content: "\e616";
}
.icon-liuliangbao:before {
    content: "\e617";
}
.icon-liuliangbaoxianxing:before {
    content: "\e618";
}
.icon-haoqiaxianxing11:before {
    content: "\e609";
}
.icon-zhifu:before {
    content: "\e619";
}
.icon-zhifuxianxing:before {
    content: "\e61a";
}
.icon-yingyeting:before {
    content: "\e610";
}
.icon-yingyetingxianxing:before {
    content: "\e620";
}
.icon-xuanhaoma:before {
    content: "\e61d";
}
.icon-qianming:before {
    content: "\e622";
}
.icon-qianmingxianxing1:before {
    content: "\e623";
}
.icon-dingdan:before {
    content: "\e612";
}
.icon-dingdanxianxing:before {
    content: "\e635";
}
.icon-zhongduan:before {
    content: "\e638";
}
.icon-zhongduanxianxing:before {
    content: "\e639";
}
.icon-shouyintai:before {
    content: "\e63c";
}
.icon-shouyintaixianxing:before {
    content: "\e63d";
}
.icon-tongzhixiaoxi:before {
    content: "\e63e";
}
.icon-tongzhixiaoxixianxing:before {
    content: "\e63f";
}
.icon-diqu:before {
    content: "\e636";
}
.icon-diquxianxing:before {
    content: "\e637";
}
.icon-chahuafeixianxing:before {
    content: "\e640";
}
.icon-saomiao:before {
    content: "\e63b";
}
.icon-saomiaoxianxing:before {
    content: "\e641";
}
.icon-kehuxinzeng:before {
    content: "\e642";
}
.icon-kehuxinzengxianxing:before {
    content: "\e643";
}
.icon-kehuxinxi:before {
    content: "\e644";
}
.icon-kehuxinxixianxing:before {
    content: "\e645";
}
.icon-huizhi:before {
    content: "\e646";
}
.icon-heyuejihua:before {
    content: "\e649";
}
.icon-liuliang1:before {
    content: "\e64a";
}
.icon-huafei:before {
    content: "\e64b";
}
.icon-yuyin:before {
    content: "\e64c";
}
.icon-yuyinxianxing:before {
    content: "\e648";
}
.icon-huafeixianxing:before {
    content: "\e64d";
}
.icon-liuliangxianxing1:before {
    content: "\e64e";
}
.icon-erweima:before {
    content: "\e64f";
}
.icon-erweimaxianxing:before {
    content: "\e650";
}
.icon-buhuanqia:before {
    content: "\e651";
}
.icon-nfc:before {
    content: "\e654";
}
.icon-nfcxianxing:before {
    content: "\e655";
}
.icon-shimingrenzhengxianxing:before {
    content: "\e657";
}
.icon-shimingrenzheng:before {
    content: "\e658";
}
.icon-kuaixiaoqiafandang:before {
    content: "\e659";
}
.icon-kuaixiaoqiafandangxianxing:before {
    content: "\e65a";
}
.icon-kuandaishuaidan:before {
    content: "\e65c";
}
.icon-kuandaishuaidanxianxing:before {
    content: "\e65d";
}
.icon-yushouli:before {
    content: "\e65e";
}
.icon-yushoulixianxing:before {
    content: "\e65f";
}
.icon-kexuanbao:before {
    content: "\e65b";
}
.icon-cuxiao:before {
    content: "\e660";
}
.icon-cuxiaoxianxing:before {
    content: "\e661";
}
.icon-kehu2:before {
    content: "\e662";
}
.icon-qita:before {
    content: "\e664";
}
.icon-taocan3:before {
    content: "\e667";
}
.icon-kehuxianxing11:before {
    content: "\e663";
}
.icon-haochi1:before {
    content: "\e665";
}
.icon-danxuanweixuanzhong:before {
    content: "\e669";
}
.icon-xiangqing:before {
    content: "\e66d";
}
.icon-chuanma:before {
    content: "\e66f";
}
.icon-fuqia:before {
    content: "\e671";
}
.icon-xiaoyan:before {
    content: "\e672";
}
.icon-shifang:before {
    content: "\e673";
}
.icon-xinkong:before {
    content: "\e674";
}
.icon-dabaoxiaoshou:before {
    content: "\e675";
}
.icon-zhufuqiachengyuanbiangeng:before {
    content: "\e676";
}
.icon-kehufandang:before {
    content: "\e677";
}
.icon-yushoulichaxun:before {
    content: "\e679";
}
.icon-dingdanchaxun:before {
    content: "\e67a";
}
.icon-jiantouyou-copy:before {
    content: "\e67b";
}
.icon-bangding:before {
    content: "\e687";
}
.icon-crm391:before {
    content: "\e68f";
}
.icon-mima1:before {
    content: "\e68b";
}
.icon-xiaoyan2:before {
    content: "\e696";
}
.icon-jiaofeichongzhi:before {
    content: "\e69a";
}
.icon-_xiantiaozhimaxinyong:before {
    content: "\e730";
}
.icon-weibiaoti--:before {
    content: "\e803";
}
.icon-qudao1:before {
    content: "\e6b8";
}
.icon-heyuejihua1:before {
    content: "\e6b9";
}
.icon-zhuqia:before {
    content: "\e6ba";
}
.icon-fazhanren:before {
    content: "\e6bb";
}
.icon-jinrongpingtai:before {
    content: "\e6bc";
}
.icon-zhiyajine:before {
    content: "\e6be";
}
.icon-wentifankui:before {
    content: "\e6c0";
}
.icon-wentifankuixianxing:before {
    content: "\e6c1";
}
.icon-chengfenqi:before {
    content: "\e6c3";
}
.icon-zhiyazuji1:before {
    content: "\e6c7";
}
.icon-goushouji:before {
    content: "\e6c8";
}
.icon-kuandaixuyue:before {
    content: "\e6ca";
}
.icon-taocanbiangeng:before {
    content: "\e6cb";
}
.icon-kexuanbaobiangeng:before {
    content: "\e6cc";
}
.icon-buhuanqiaxianxing:before {
    content: "\e6d0";
}
.icon-ronghetaocan:before {
    content: "\e6d2";
}
.icon-shuangpinghudong:before {
    content: "\e6d4";
}
.icon-dingdanchaxunxianxing:before {
    content: "\e6d5";
}
.icon-yushoulichaxunxianxing:before {
    content: "\e6d6";
}
.icon-shuaidanchaxunxianxing:before {
    content: "\e6d7";
}
.icon-taocanxianxing:before {
    content: "\e6da";
}
.icon-otgxianxing:before {
    content: "\e6db";
}
.icon-otg:before {
    content: "\e6dc";
}
.icon-renzhengxiangfu:before {
    content: "\e6dd";
}
.icon-zhufuqiachengyuanbiangengxianxing1:before {
    content: "\e6de";
}
.icon-dianyuan-copy:before {
    content: "\e666";
}
.icon-square_check:before {
    content: "\e6e0";
}

.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .dropdown-menu{
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}